body {
  background: #226;
  color: #822;
  padding: 25px;
  font-family: sans-serif;
  width: fill;
}

h2 {
  color: #fff;
  width: 50%;
  margin: 20px auto;
}

label {
  color: #aaa;
}

.login, .register{
  background: #229;
  margin: 0 auto;
  padding: 5px 25px 15px;
  width: 50%;
  border-radius: 8%;
  text-align: center;
  border: 5px solid black;
}

.login h2, .register h2 {
  color: gold;
  width: 25%;
  margin: 20px auto;
}

.login button, .register button {
  position: relative;
  width: 25%;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  padding: 5px 15px;
  text-align: center;
}






